// scss-lint:disable ZeroUnit

/// Removes the unit (e.g. px, em, rem) from a value, returning the number only.
/// Copied from Foundation.
///
/// @param {Number} $num - Number to strip unit from.
///
/// @returns {Number} The same number, sans unit.
@function strip-unit( $num ) {
	@return $num / ( $num * 0 + 1 );
}

/// Converts pixel value into matching rem value.
/// Adapted from Foundation's `rem-calc` function.
///
/// @param {Number} $value - Value to convert.
/// @param {Number} $base [null] - The base value to use when calculating the `rem`. If this parameter is `null`, the function will reference the `$base-font-size` variable as the base.
///
/// @returns {Number} The converted value.
@function rem-calc( $value, $base: null ) {

	// Check if the value is a number
	@if type-of( $value ) != 'number' {
		@warn inspect( $value ) + ' was passed to rem-calc(), which is not a number.';
		@return $value;
	}

	// If no base is defined, defer to the default font size
	@if $base == null {
		$base: 16px;
	}

	// If the base font size is a %, then multiply it by 16px
	// This is because 100% font size = 16px in most all browsers
	@if unit( $base ) == '%' {
		$base: ( $base / 100% ) * 16px;
	}

	// Calculate rem value.
	$value: strip-unit( $value ) / strip-unit( $base ) * 1rem;

	// Turn 0rem into 0
	@if $value == 0rem {
		$value: 0;
	}

	@return $value;
}
